DELETE A USER -->

<div class="actions">
      <form class="delete_skatelog" action="/skatelogs/<%= skatelog.id%>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <!-- <div class="btn_container"> -->
            <input type="submit" value="DELETE">
        <!-- </div> -->
      </form>
    </div>

<!-- /skatelogs/:id

  MISSY: add a skatelog and auth file