

<div class="container">
  <!-- <h2>Tell Your Skate Community All About Your Sesh!</h2> -->
  <form class="new_post" action="/users/new" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="skatelog[title]" placeholder="name your sesh">
    <input type="text" name="skatelog[seshtime]" placeholder="how long was your sesh?">
    <input type="text" name="skatelog[tricks]" placeholder="what was your best trick?">
    <input type="text" name="skatelog[description]" placeholder="describe your sesh">
    <input type="submit" value="Post Your Sesh!">
  </form>
</div>

